<footer class="row bg-light d-flex">
  <!-- Social Media -->
  <article class="col-12 col-md-6 col-lg-3">
    <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
      <li class="nav-item active">
        <a class="nav-link " href="https://www.youtube.com/watch?v=ZJy1ajvMU1k"><i class="fab fa-youtube"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/Restaurante-El-Rey-1003604112997471/"><i
            class="fab fa-facebook"></i></a>
      </li>
      <a href="#top">Go Top</a>
    </ul>
  </article>

  <!--
    <article class="col-12 col-md-6 col-lg-3">
      <ul class="m-0 d-inline">
        <li><a href="https://www.youtube.com/watch?v=ZJy1ajvMU1k"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://twitter.com/cookforyourlife?lang=en"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/Restaurante-El-Rey-1003604112997471/"><i class="fab fa-facebook"></i></a></li>
      </ul>
      <a href="#top">Go Top</a>
    </article>

-->

  <!-- NavBar -->
  <article class="col-12 col-md-6 col-lg-3">
    <ul class="navbar-nav mr-auto d-flex justify-content-center align-items-center">
      <li class="nav-item active">
        <a class="nav-link " href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/nosotros">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/administrar">Administrar</a>
      </li>
    </ul>
  </article>
  <!-- Map -->
  <article class="col-12 col-md-12 col-lg-6">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6570.75334763305!2d-58.456303287866206!3d-34.569334404479996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5dbb93d4c3f%3A0xe00bce8955cfc95e!2sSocial%20Club%20Buena%20Birra%20-%20Colegiales!5e0!3m2!1sen!2sar!4v1593125471945!5m2!1sen!2sar"
      width="800" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
  </article>
</footer>
